STRING basics

In [5]:
user_id = 'virambab'
name = '"vigneshwar"'

In [7]:
print("My user id is {} and my name is {}".format(user_id,name))

My user id is virambab and my name is "vigneshwar"

In [6]:
print("My user id is {two} and my name is {one}".format(one=user_id, two=name ))

My user id is "vigneshwar" and my name is virambab

In [11]:
s= 'hellomynameisvignesh'

In [12]:
s[0]

'h'

In [13]:
s[1:]

'ellomynameisvignesh'

In [14]:
s[3:9]

'lomyna'

In [15]:
s[:5]

'hello'

In [16]:
s[0:]

'hellomynameisvignesh'

LIST basics

In [18]:
my_list = ['a','b','c','d','e']

In [19]:
my_list[0]

'a'

In [20]:
my_list[0]  ='new'

In [21]:
my_list

['new', 'b', 'c', 'd', 'e']

In [76]:
a=[1,2,3,4,5]
b=['a','b','c','d','e']

In [77]:
c=[a,b]

In [78]:
print(c)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e']]

NESTING in LIST

In [49]:
nest= [1,2,3,[5,6,7],['target','a']]

In [50]:
nest[3][0]

5

In [51]:
nest[4][1]

'a'

DICTIONARY basics - key and value mapping pair

In [52]:
dict ={'key1':1,'key2':'abc'}

In [53]:
dict={'key3': 1234}

In [54]:
print(dict)

{'key3': 1234}

LIST in DICTIONARY

In [55]:
dict['key4'] = [1,2,3,4]

In [56]:
dict

{'key3': 1234, 'key4': [1, 2, 3, 4]}

In [57]:
dict['key4'][0]

1

In [58]:
my_list= dict['key4']

In [59]:
my_list[0]

1

DICTIONARY in DICTIONARY

In [62]:
diction_dict = {'a':1,'b':2,'c':3,'d':{'innerkey':[1,2,3]}}

In [63]:
diction_dict['d']

{'innerkey': [1, 2, 3]}

In [64]:
diction_dict['d']['innerkey']

[1, 2, 3]

In [65]:
diction_dict['d']['innerkey'][0]

1

BOOLEAN OPERATORS

In [66]:
True

True

In [67]:
False

False

TUPLES basics

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.indexing is not possible in tuple

In [69]:
t = (1,2,3,3,4,4,5,56,677,8,9,7,6,54,3,3)

In [71]:
t

(1, 2, 3, 3, 4, 4, 5, 56, 677, 8, 9, 7, 6, 54, 3, 3)

In [72]:
t

(1, 2, 3, 3, 4, 4, 5, 56, 677, 8, 9, 7, 6, 54, 3, 3)

In [75]:
len(t)

16

SET basics

SET doesnt allow repitition and indexing(randomly reurns the values)

In [79]:
s={4,1,1,1,3,6,7,8,9,9,9}

In [80]:
print(s)

{1, 3, 4, 6, 7, 8, 9}

CONDITIONAL OPERATOR

In [81]:
1>=1

True

In [82]:
1==1

True

In [83]:
'hi'=='hi'

True

LOGICAL OPERATOR (AND and OR)

AND - all conditions must be true

In [85]:
(1<2) and (2<3)

True

OR - ONE conditions must be true

In [87]:
(1<2) or (5<3)

True

LOOPING STATEMENT

IF, ELSEIF ,ELSE

In [88]:
if 4<9:
    print('yep')

yep

In [89]:
if True:
    print('BOOOOOOHYAHHHH')

BOOOOOOHYAHHHH

In [90]:
if 1==2:
    print("true value")
else:
    print("false value")

false value

In [92]:
if 1==2:
    print("true value")
elif 3==3:
    print('1st true assumption')
elif 5==5:
    print('2nd true assumption')
else:
    print("false value")

1st true assumption

FOR LOOPS

In [94]:
seq=[11,22,333,44,55]

In [97]:
for num in seq:
    print(num)

11
22
333
44
55

In [96]:
for num in seq:
    print(seq)

[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]

In [99]:
range(0,10)

range(0, 10)

In [102]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
for num in range(0,10):
    print(seq)

[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]
[11, 22, 333, 44, 55]

WHILE LOOP

In [98]:
i = 0

while i<= 5:
    print("i is: {one}".format(one=i))
    i=i+1

i is: 0
i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

LIST COMPREHENSION in FOR

In [109]:
a = [1,2,3,4]

out=[]

for num in a:
    out.append(num**2)

In [108]:
 print(out)

[1, 4, 9, 16]

In [110]:
out=[num**2 for num in a]

In [111]:
 print(out)

[1, 4, 9, 16]

DEFINING FUNCTIONS

In [112]:
def my_function(name):
    print('my name is:'+name)

In [114]:
my_function('vignesh')

my name is:vignesh

In [115]:
def my_function(name= 'default name'):
    print('my name is:'+name)

In [116]:
my_function()

my name is:default name

In [117]:
my_function(name='vignesh')

my name is:vignesh

RETURNING in FUNCTION

In [123]:
def square(num):
    return num**2

In [124]:
output = square(5)

In [125]:
output

25

FUNCTIONS HAVE DOCUMENTATION STRING

In [126]:
def square(num):
    
    """
    WE CAN SPECIFY DOCUMENTATION HERE AND IT CAN BE RETURNED USING "SHIFT+TAB"
    
    """
    
    
    return num**2

square() use 'shift + tab' near this to see the documentation

MAP,FILTER,LAMPDA Expression

lets create a function to show the advantages of using map, filter and lampda expression

In [24]:
def square_val (num):
    return num**2

In [25]:
square_val(3)

9

To perform same function in list,we need to create for loop ,iterate each value and append in another list, but using built in map function, we call the specified function for each item in iterable such as list,tuple, dictionary etc and return the list of the result

In [26]:
seq = [1,2,3,4,5,6]

In [28]:
list(map(square_val,seq))

[1, 4, 9, 16, 25, 36]

In [18]:
a = (map(square_val,num))

NEXT function to traverse the list

In [19]:
next(a)

1

In [20]:
next(a)

4

LAMBDA

We mostly use map as a one time thing, so we dont need to write the function and use in the map thats where the lambda expression comes into play, rather than writing  a function we can use lambda expression directly

*  def square_val (num):
       return num**2
*  def square_val (num):return num**2
*  lambda num: num**2

In [30]:
seq = [1,2,3,4,5,6]

list(map(square_val,seq)) #function will be called usually, but we can use the lambda expression instead

In [36]:
list(map(lambda num: num**2,seq))

[1, 4, 9, 16, 25, 36]

FILTER

we can use a condition and return the values that are true

In [39]:
list(filter (lambda num: num%2 ==0 ,seq))

[2, 4, 6]

this return only the values that are true

other useful functions or methods

In [43]:
s = 'My name is Vigneshwar'

In [41]:
s.lower()

'my name is vigneshwar'

In [72]:
s.upper()

'MY NAME IS VIGNESHWAR'

In [44]:
s.split()

['My', 'name', 'is', 'Vigneshwar']

by default it will spilt on all white spaces

In [46]:
tweet = "#gymfreak Realfitness! #dedication"

In [47]:
tweet.split('#')

['', 'gymfreak Realfitness! ', 'dedication']

In [48]:
tweet.split('#')[2]

'dedication'

In [ ]:
DICTIONARY

In [56]:
d = {'k1':2,'k2':1}

In [57]:
d.keys()

dict_keys(['k1', 'k2'])

In [58]:
d.items()

dict_items([('k1', 2), ('k2', 1)])

In [59]:
d.values()

dict_values([2, 1])

Dictionary dont retain in orders usually

In [62]:
lst = [1,2,3,4]

In [63]:
item = lst.pop()

In [64]:
item

4

In [65]:
lst

[1, 2, 3]

In [66]:
lst.pop(0)

1

indexing can also be used in pop

In [68]:
lst.append('a')

In [69]:
lst

[2, 3, 'a']

To check value, we can use IN

In [70]:
'a' in lst

True

In [71]:
'a' in [2, 3, 'a']

True

TUPLE UNPACKING

In [73]:
x = [(1,2),(2,3),(3,4)]

In [78]:
for item in x:
    print(item)

(1, 2)
(2, 3)
(3, 4)

In [77]:
for (a,b) in x:
    print(a,b)

1 2
2 3
3 4

In [79]:
for (a,b) in x:
    print(a)

1
2
3